<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.dianping" />
    <aop:aspectj-autoproxy />

    <bean id="preInitService" class="com.dianping.service.initer.PrePareInit" />


    <!-- 定义调度对象和调用的方法 -->
    <!-- 任务:初始化 -->
    <bean id="preInit" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="preInitService"/>
        <property name="targetMethod" value="preInit"/>
        <property name="concurrent" value="false"/>
    </bean>

    <!-- 配置触发器 -->
    <bean id="preInitTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail" ref="preInit"/>
        <!-- 触发时间(使用cron表达式) 每月5日凌晨3点-->
        <property name="cronExpression" value="10 0-59/10 * * * ?"/>

        <!--<property name="cronExpression" value="*/10 * * * * ?" />-->
    </bean>


</beans>
